# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config HAS_NRF_IRONSIDE
	bool
	help
	  This is selected by SoCs that run Nordic IronSide firmware.

menu "Nordic IronSide"
	depends on HAS_NRF_IRONSIDE

config NRF_IRONSIDE
	bool
	help
	  This is selected by drivers interacting with Nordic IronSide firmware.

# Specific IronSide SE versions are listed here.
# Each version is listed both in string format and hexadecimal format.
# Hexadecimal format: hex( (major << 24) | (minor << 16) | (bugfix << 8) | (seqno) )
#
# When integrating a new version:
#
# * Add v<version>_str and v<version>_hex variables below this.
# * Update latest_version_str:
#     latest_version_str := "$(v<version>_str)".
# * Add a default case to NRF_IRONSIDE_VERSION that maps the string to the hex value:
#     default v<version>_hex if NRF_IRONSIDE_VERSION_STRING = "$(v<version>_str)".

v23_0_99_127_str := 23.0.99+127
v23_0_99_127_hex := 0x1700637f

default_version_str := $(v23_0_99_127_str)
latest_version_str := $(v23_0_99_127_str)

config NRF_IRONSIDE_VERSION
	hex
	default $(v23_0_99_127_hex) if NRF_IRONSIDE_VERSION_STRING = "$(v23_0_99_127_str)"
	default 0 # Invalid/unknown version
	help
	  Helper symbol that contains the targeted IronSide SE version, in hexadecimal format.

config NRF_IRONSIDE_VERSION_IS_KNOWN
	def_bool NRF_IRONSIDE_VERSION != 0
	help
	  Helper symbol that indicates if the targeted IronSide SE version is valid/known.

choice
	prompt "Target IronSide version"
	default NRF_IRONSIDE_VERSION_USE_DEFAULT
	help
	  Scheme used to determine the version of IronSide SE targeted by the application.
	  The target version is used to determine which APIs are supported and for choosing
	  the correct IronSide release blob.

config NRF_IRONSIDE_VERSION_USE_DEFAULT
	bool "Target the default version [$(default_version_str)]"
	help
	  Target the version set as the default. This is the version that is used for
	  general zephyr development.

config NRF_IRONSIDE_VERSION_USE_LATEST
	bool "Target the latest version [$(latest_version_str)]"
	help
	  Target the latest version available to in hal_nordic. This version supports
	  the latest IronSide features.

config NRF_IRONSIDE_VERSION_USE_FIXED
	bool "Target a fixed version"
	help
	  Target a specific version. It is recommended to use this option
	  in your application so that the IronSide libraries, drivers
	  and build system know which version of IronSide SE you are using.

endchoice

config NRF_IRONSIDE_FIXED_VERSION
	string "IronSide version to target"
	depends on NRF_IRONSIDE_VERSION_USE_FIXED
	default "$(default_version_str)"
	help
	  The specific version of IronSide SE to target.

config NRF_IRONSIDE_VERSION_STRING
	string
	default NRF_IRONSIDE_FIXED_VERSION if NRF_IRONSIDE_VERSION_USE_FIXED
	default "$(latest_version_str)" if NRF_IRONSIDE_VERSION_USE_LATEST
	default "$(default_version_str)" if NRF_IRONSIDE_VERSION_USE_DEFAULT
	help
	  Helper symbol that contains the targeted IronSide SE version, in string format.

config NRF_IRONSIDE_CALL
	bool
	depends on DT_HAS_NORDIC_IRONSIDE_CALL_ENABLED
	select NRF_IRONSIDE
	select EVENTS
	select MBOX
	help
	  This is selected by features that require support for IronSide calls.

if NRF_IRONSIDE_CALL

config NRF_IRONSIDE_CALL_INIT_PRIORITY
	int "IronSide calls' initialization priority"
	default 41
	help
	  Initialization priority of IronSide calls. It must be below MBOX_INIT_PRIORITY,
	  but higher than the priority of any feature that selects NRF_IRONSIDE_CALL.

endif # NRF_IRONSIDE_CALL

config NRF_IRONSIDE_CPUCONF_SERVICE
	bool "IronSide CPUCONF service"
	depends on SOC_NRF54H20_CPUAPP || SOC_NRF9280_CPUAPP
	select NRF_IRONSIDE_CALL
	help
	  Service used to boot local domain cores.

config NRF_IRONSIDE_TDD_SERVICE
	bool "IronSide TDD service"
	select NRF_IRONSIDE_CALL
	help
	  Service used to control the trace and debug domain.

config NRF_IRONSIDE_UPDATE_SERVICE
	bool "IronSide update service"
	select NRF_IRONSIDE_CALL
	help
	  Service used to update the IronSide SE firmware.

config NRF_IRONSIDE_BOOT_REPORT
	bool "IronSide boot report"
	depends on $(dt_nodelabel_exists,ironside_se_boot_report)
	select NRF_IRONSIDE
	help
	  Support for parsing the Boot Report populated by Nordic IronSide firmware.

config NRF_IRONSIDE_BOOTMODE_SERVICE
	bool "IronSide boot mode service"
	select NRF_IRONSIDE_CALL
	help
	  Service used to reboot into secondary firmware boot mode.

config NRF_IRONSIDE_DVFS_SERVICE
	bool "IronSide DVFS service"
	depends on SOC_NRF54H20_CPUAPP
	select NRF_IRONSIDE_CALL
	help
	  Service used to handle DVFS operating point requests.

if NRF_IRONSIDE_DVFS_SERVICE

config NRF_IRONSIDE_ABB_STATUSANA_CHECK_MAX_ATTEMPTS
	int "IRONSside DVFS ABB analog status check maximum attempts"
	range 0 255
	default 50
	help
	  Maximum attempts with 10us intervals before busy status will be reported.

endif # NRF_IRONSIDE_DVFS_SERVICE

endmenu
