# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config HAS_IRONSIDE_SE
	bool

menu "IronSide SE"
	depends on HAS_IRONSIDE_SE

config NRF_HALTIUM_GENERATE_UICR
	bool "Generate UICR file"
	default y
	help
	  Generate UICR HEX file.

endmenu
